// Navigation code here
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: @nav-bg;
    opacity:.9;
    .flexDisplay(column, space-around, center);
    h1{
        font-size: 4rem;
        color:@ebony-clay;
    }

    .links{
        width: 40%;
        height: 6vh;
        .flexDisplay(row, space-around, center);

        @media @mobile{
            width: 100%;
        }
        a{
            text-decoration: none;
            color:@shuttle-gray;
            font-size: 1.5rem;

            .hover(@nav-bg, @ebony-clay, uppercase)
           
        }
    }
}